<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="APP_ENV" value="test"/>
    <env name="DB_DRIVER" value="mysql"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_PORT" value="3306"/>
    <env name="DB_NAME" value="cinetech_test"/>
    <env name="DB_USER" value="cinetech"/>
    <env name="DB_PASS" value="cinetech"/>
    <!-- BONUS pour voir les erreurs -->
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
  </php>
</phpunit>
